  *{
    padding: 0;
    margin: 0;
  }
  header{
    text-align: center;
    background-color: rgb(25, 193, 151);
    border-bottom: solid grey;
    height: auto;
  }
  
  .flex{
    display: flex;
    
  }
  
  .side{
    flex: 1;
    height: 91vh;
    overflow: auto;
  }
  
  .content{
    flex: 1;
    height: 91vh;
    overflow: auto;
    border-left: rgba(0, 255, 255, 0.346) 2px solid;
  }
  
  .details{
    flex: 1;
    margin-top: 10px;
  }
  
  .inputs{
    flex: 2;
  }
  
  .form{
    padding: 10%;
  }
  
  .block{
    display: block;
  }
  
  .inputs input{
    margin: 10px 10px 0 ;
  }
  
  .size{
    margin: 10px 10px 2px;
  }
  
  .size input{
    margin: 0;
  }
  
  .details p{
    margin-bottom: 15px;
  }
  
  .details p:last-child{
    margin-top: 30px;
  }

   .center{
    max-width: 500px !important;
    flex-direction: column;
    justify-content: center;
    margin: 50px 50px auto auto;
   }
  
   .cards{
    justify-content: space-between;
   }
  
   img{
    width: 120px;
    height: 120px;
   }

   h4{
    text-align: center;
   }
   
   .discription{
    flex: 3;
    background-color: rgba(172, 255, 47, 0.759);
    padding: 2.5px;
    border: 2px solid rgba(52, 165, 52, 0.643);
    border-top: 0;
   }
  
   .image{
    flex: 1;
    background-color: rgba(172, 255, 47, 0.759);
    text-align: center;
    padding: 2.5px;
    border: 2px solid rgba(52, 165, 52, 0.643);
    border-top: 0;
   }
  
   .des{
    padding: 3px;
    background-color: rgba(172, 255, 47, 0.759);
    border: 2px solid rgba(52, 165, 52, 0.643);
   }

   .des h5{
    margin: 0;
    font-size: 1.5rem;
   }
  
   .des h5:first-of-type{
    border-width: 0;
    margin-right: 5px;
    border-right-width:3px;
   }
   .des h5:last-of-type{
    border-width: 0;
   }
   .name{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.792);
   }

   @media (max-width: 375px){
    .one{
      flex-direction: column;
    }
    .content{
      border: 0;
    }
    .form{
      border-bottom: solid rgba(0, 0, 0, 0.349);
    }
    .content{
      margin-bottom: 200px;
    }
    .image{
      width: 92px;
    }
    .size {
      margin: 20px 10px 2px;
   }
   #img{
    margin-top: 30px;
   }
   }
  